<section id="registrationForm">
    <h2> New User Registration </h2>
    <div id="holder">
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Username</h6>
            </label> <input type="password" name="password" placeholder="Enter Username"> </div>
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label> <input type="password" name="password" placeholder="Enter password"> </div>
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Email Address</h6>
            </label> <input type="password" name="password" placeholder="Enter Valid Email"> </div>
        <div class="row px-3 mb-4">
        </div>
        <div class="row mb-3 px-3"> <button type="button" class="btn btn-primary">Submit</button> </div>
    </div>
</section>